html,
body {
  height: 100%;
  line-height: 1;
  background: #fafafa;

  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
}
/* Конец обнуляющих стилей */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  margin: 0 auto;

  padding: 0 20px;
}

/*-----------HEADER_BLOCK------------- */
.header-block__title {
  font-size: 40px;

  margin-bottom: 30px;
}

.header-block__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 20px auto;
  background-color: brown;
}

.header-block__text {
  font-size: 24px;
  line-height: 150%;
}

/*-----------HEADER--------------------- */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #eeeee4;

  padding: 20px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100px;
}

.header__logo {
  display: block;
}

.header__logo img {
  width: 100px;
  height: 100px;
}

.menu__list {
  display: flex;

  font-size: 25px;
}

.menu__list li:not(:last-child) {
  margin-right: 20px;
}

.menu__list a {
  color: #000;
  text-decoration: none;
}

.menu__link a:hover {
  text-decoration: underline;
  color: brown;
}

.menu__link.active a {
  color: brown;
}

.main {
  flex: 1 1 auto;

  margin-top: 140px;
}

/* ------ HELLO----------------- */
.hello {
  background-color: burlywood;
}

.hello__body {
  display: flex;

  padding: 10px 0px;
}

.hello__column {
  flex: 0 1 50%;
}

.hello__header {
  margin-top: 100px;

  padding: 50px 40px;

  text-align: center;
}

.hello__image {
}

.hello__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -----ABOUT--------- */
.about {
  background-color: #eeeee4;

  padding: 100px 20px;
}

.about__header {
  text-align: center;

  margin-bottom: 30px;

  padding: 0px 50px;
}

.about__images {
  display: flex;
  padding: 20px 0px;
}

.about__column {
  flex: 0 1 33.3333%;
  padding: 0 10px;
}

.about__item {
  width: 100%;
}

.about__item img {
  display: block;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -----HOBBY---------- */
.hobby {
  background-color: burlywood;

  padding: 100px 20px;
}

.hobby__header {
  text-align: center;

  margin-bottom: 30px;
}

.hobby__images {
  display: flex;
  padding: 20px 0px;
}

.hobby__column {
  flex: 0 1 33.3333%;
  padding: 0 10px;
}

.hobby__item {
  width: 100%;
}

.hobby__item img {
  display: block;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -----CONTACTS */
.contacts {
  padding: 100px 20px;

  background-color: #eeeee4;
}
.contacts__body {
  display: flex;
}

.contacts__column {
  flex: 0 1 50%;

  padding: 0 10px;
}

.contacts__header {
  text-align: center;
}

.contacts__form p {
  margin-bottom: 10px;
}

.contacts__form label {
  display: block;
  margin-bottom: 10px;
}

.nameinput {
  margin-bottom: 20px;
}

#firstname {
  margin-right: 9%;
}

#firstname,
#lastname {
  width: 45%;
}

#email {
  width: 100%;

  margin-bottom: 20px;
}

#firstname,
#lastname,
#email,
#message {
  font-family: inherit;
  font-size: 20px;

  padding: 15px 5px 15px 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

#message {
  width: 100%;
  height: 150px;
}

.submit-btn {
  font-family: inherit;
  font-size: 20px;

  padding: 20px 50px;
  background-color: inherit;

  margin-top: 30px;

  border: 1px solid gray;

  cursor: pointer;
}

.submit-btn:hover {
  color: #000;
  background-color: burlywood;
}

/* -----FOOTER--------- */

.footer {
  font-size: 25px;
  font-style: italic;
  font-weight: 400;

  background-color: burlywood;

  text-align: center;

  padding: 50px 20px;
}
